.content {

}

.content__header {
	.clearfix;
	background-color: #ee2126;
}

.content__header-full {
	height: 47px;
}

.content__header-left {
	float: left;
	width: 464px;
	padding-top: 15px;
}

.content__header-hide {

}

.content__header-right {
	margin-left: 491px;
	padding-top: 13px;
}

.content__choose-price {
	input[type="radio"] {
		vertical-align: middle;
	}

	label {
		font-size: 12px;
		color: white;
		margin-right: 11px;
		vertical-align: middle;
		font-family: Arial, Helvetica, sans-serif;
	}
}

.content__body {
	.clearfix;
	position: relative;
	z-index: 20;
	background-color: #e3e5e5;
	padding-top: 23px;
	padding-bottom: 80px;
}

.content__body-left {
	float: left;
	margin-right: 27px;
}

.content__body-left-title {
	color: #333333;
	font-size: 17px;
	font-weight: 500;
	margin-bottom: 11px;
}

.content__body-left-articles {
	.clearfix;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 1.51;
	margin-bottom: 3px;
}

.content__body-left-list {
	float: left;
	width: 210px;

	& + .content__body-left-list {
		margin-left: 44px;
	}
}

.content__body-left-item {
	margin-bottom: 13px;
}

.content__body-article-title {
	font-weight: bold;
	color: #333;

	&:before {
		content: '\2022';
		font-size: 20px;
		vertical-align: middle;
		margin-right: 5px;
		margin-left: -12px;
		display: inline-block;
		line-height: 1;
	}
}

.content__body-article-link {

	a {
		color: #333;

		&:before {
			content: '';
			background-image: url('../img/background/document.png');
			background-repeat: no-repeat;
			height: 13px;
			width: 11px;
			display: inline-block;
			margin-right: 6px;
			vertical-align: top;
			position: relative;
			top: 2px;
		}
	}
}

.content__body-left-slogan {
	font-size: 17px;
	line-height: 1.29;
}

.content__body-right {
	float: left;
	width: 380px;
}

.content_body-right-title {
	font-size: 17px;
	color: #000;
	font-weight: 500;
	margin-bottom: 11px;
}

.content_body-right-text {
	line-height: 1.5;
	font-size: 12px;
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	margin-bottom: 14px;
}

.content__body-share {
	.clearfix;
	margin-bottom: 23px;

	.b-share-icon, .content__body-share-mail {
		width: 42px;
		height: 42px;
		background-image: url('../img/socials/socials.png');
		background-repeat: no-repeat;
	}

	.b-share,
	.b-share__handle {
		padding: 0 !important;
	}

	.b-share {
		float: left;
	}

	.b-share__handle {
		width: 42px;
		height: 42px;
		margin-right: 11px;
	}

	.b-share-icon_vkontakte {
		background-position: 0 -276px;
	}

	.b-share-icon_facebook {
		background-position: 0 0;
	}

	.b-share-icon_twitter {
		background-position: 0 -184px;
	}
}

.content__body-share-mail {
	float: left;
	background-position: 0 -92px;
}

.content__previous-number {
	display: inline-block;
	vertical-align: top;
	position: relative;
	padding-right: 79px;
	text-decoration: underline;
	color: white;
	font-size: 17px;
	height: 34px;
	margin-right: 21px;
}

.content__previous-number-img {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 20;
}

.content__body-message {
	margin-bottom: 26px;
}

.content__body-message-link {
	font-size: 12px;
	font-weight: bold;
	font-family: Arial, sans-serif;
	color: black;
	line-height: 1.92;
}