.counter {
	width: 423px;
	height: 423px;
	position: absolute;
	margin-left: 519px;
	margin-top: 53px;

	border-radius: 50%;
	background-color: #f3f3f3;
	background-image: url('../img/background/clock_bg.png');

	.ie8 & {
		background-color: transparent;
		background-image: url('../img/background/clock_bg_ie.png');
	}
}

.counter__progress {
	width: 400px;
	height: 400px;
	position: absolute;
	top: 1px;
	left: 11px;

	.ie8 & {
		background-image: url('../img/background/clock.png');
	}
}

.counter__canvas {
	display: block;
	width: 400px;
	height: 400px;
}

.counter__arrow {
	opacity: 0;
	width: 174px;
	height: 13px;
	background-image: url('../img/background/clock_arrow.png');
	background-position: 100% 0;
	position: absolute;
	top: 205px;
	left: 200px;

	-webkit-transform: rotate(2.08rad);
	-ms-transform: rotate(2.08rad);
	transform: rotate(2.08rad);


	-webkit-transform-origin: 0 50%;
	-ms-transform-origin: 0 50%;
	transform-origin: 0 50%;

	-webkit-transition: -webkit-transform 1s;
	transition: transform 1s;

	.counter__progress_loaded & {
		opacity: 1;
	}

	.ie8 & {
		display: none;
	}
}

.counter__logo {
	position: absolute;
	top: 138px;
	left: 127px;
	width: 146px;
	height: 145px;
	background-image: url('../img/background/clock_logo.png');
}

.counter__current {
	position: absolute;
	left: 0;
	width: 100%;
	top: 300px;
	text-align: center;
}

.counter__current-title {
	font-size: 10px;
	color: #000;
	text-transform: uppercase;
	margin-bottom: 3px;
}

.counter__current-cnt {
	font-size: 13px;
	margin-bottom: 21px;
}

.counter__current-now {
	color: #333333;
}

.counter__current-delim {
	color: white;
	margin: 0 1px;
}

.counter__current-target {
	color: #ee2126;
	font-weight: 500;
}

.content__current-site {
	text-transform: uppercase;
	color: #7f7f7f;
	text-decoration: none;
	font-size: 10px;

	&:hover {
		text-decoration: underline;
	}
}