.footer {

}

.footer_nt {
	position: relative;
	padding-top: 16px;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	color: #999999;

}

.footer__highlight {
	font-weight: bold;
}

.footer__link {
	color: #999999;
}

.wrapper_black + .container .footer {
	height: 75px;
	padding-top: 25px;
	margin-top: -100px;
	position: relative;

	* {
		color: white;
	}

	&:before {
		content: '';
		position: absolute;
		top: 9px;
		left: 0;
		height: 3px;
		background-color: #b6b7b7;
		width: 274px;
	}
}

.footer-empty {
	height: 100px;
}

.footer__slogan {
	padding-top: 8px;
}