.green-button__link {
	display: block;
	text-decoration: none;
	width: 164px;
	height: 46px;
	padding-top: 14px;
	padding-left: 6px;
	background-color: rgba(101, 171, 89, 0.8);

	.ie8 & {
		background: transparent;
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC65AB59,endColorstr=#CC65AB59)"; /* IE8 */
			filter: ~"progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC65AB59,endColorstr=#CC65AB59)";   /* IE6 & 7 */
			  zoom: 1;
	}
}

.green-button__time {
	opacity: .7;
	color: #fff;
	font-family: "Arial", Helvetica, sans-serif;
	font-size: 12px;
	margin-bottom: 2px;
	line-height: 14px;
}

.green-button__price {
	opacity: .7;
	color: #fff;
	font-family: "Arial", Helvetica, sans-serif;
	font-size: 19px;
	line-height: 22px;
}