.header {
	background-color: black;
	padding-top: 63px;
	padding-bottom: 42px;
}

.header__title {
	color: #fff;
	font-size: 32px;
	font-weight: bold;
	margin-bottom: 25px;
	padding-left: 3px;
}

.header__lead {
	.clearfix;

	p {
		margin-bottom: 14px;
	}
}

.header__lead-left {
	float: left;
	width: 250px;
}

.header__lead-right {
	float: left;
}

.header__highlight {
	display: inline-block;
	padding: 3px 5px 1px;
	color: #000;
	font-size: 17px;
	background-color: #cccccc;
	margin-bottom: 1px;
	font-weight: 500;
}

.header__red {
	color: #ee2126;
}

.header__large {
	font-size: 24px;
	margin-right: 2px;
}

.header_relative .container {
	position: relative;
}

.header__logo {
	position: absolute;
	top: -25px;
	right: 48px;
}

.header__thanks {
	font-size: 17px;
	color: white;
	font-weight: 500;
	margin-bottom: 20px;
}