.popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	white-space: nowrap;
	text-align: center;
	z-index: 1000;

	&:before {
		content: '';
		display: inline-block;
		vertical-align: middle;
		height: 100%;
	}

	.green-button__link + .green-button__link {
		margin-top: 9px;
	}

	.ie8 & {
		background: transparent;
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC000000,endColorstr=#CC000000)";
			filter: ~"progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC000000,endColorstr=#CC000000)";
			  zoom: 1;
	}
}

.popup__body {
	white-space: normal;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	text-align: left;
	width: 478px;
}

.popup__content {
	padding-left: 21px;
	padding-top: 38px;
	padding-bottom: 46px;
	background-color: white;
}

.popup__close {
	color: #999999;
	font-size: 12px;
	text-decoration: underline;
	position: absolute;
	top: -25px;
	right: 0;
	cursor: pointer;
}

.popup__header {
	color: #000;
	font-size: 23px;
	line-height: 1.17;
	text-transform: uppercase;
	margin-bottom: 19px;
}

.popup__red-highlight {
	color: #ee2126;
}

.popup__text {
	font-size: 12px;
	line-height: 1.5;
	color: #333;
	width: 360px;
	font-family: Arial, Helvetica, sans-serif;

	p {
		margin-bottom: 25px;
	}

	a {
		color: inherit;
	}
}

.popup__form {
	font-family: Arial, Helvetica, sans-serif;
}

.popup__form .block_ocb_form_field {

	table label {
		font-weight: bold;
		display: block;
		margin-bottom: 5px;
	}

	table ins {
		text-decoration: none;
		padding-left: 2px;
	}

	table input {
		width: 192px;
		height: 24px;
		padding: 0 4px;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	table td {
		vertical-align: top;
	}

	.ocb-form-field {
		margin-right: 2px;
		margin-bottom: 17px;
	}

	.ocb-error-msg {
		padding-top: 2px;
		font-size: 11px;
		color: #dd2424;
		display: none;
	}
}

.popup__form {

	.block_ocb_form_field_delivery {
		margin-bottom: 15px;
	}

	.block_ocb_form_field_paysystem .name_fields{
		display: block;
		font-weight: bold;
		margin-bottom: 3px;
	}

	.intaro-modules-button.ptichka {
		margin-top: 5px;
		padding-bottom: 4px;
		display: inline-block;
		clear: both;
		border: 1px solid #bfbfbf;
		color: #3d3d3d;
		font-family: Arial, Tahoma, Verdana;
		font-size: 12px;
		font-weight: bold;
		text-shadow: 0 1px 1px #fff;
		padding: 5px 14px 5px 10px;
		-webkit-border-radius: 2px;
		-khtml-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
		background: url('http://newtimes.ru/bitrix/templates/shop_main/images/order_btn.gif') 0 3px repeat-x;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
	}

	.intaro-modules-button.ptichka input {
		font-family: Arial, Tahoma, Verdana;
		font-size: 12px;
		font-weight: bold;
		text-shadow: 0 1px 1px #fff;
		background: none;
		border: none;
		display: inline-block;
		margin: 0;
		padding: 0 0 0 20px;
		height: 18px;
		background: url('http://newtimes.ru/bitrix/templates/shop_main/images/ptichka.png') 0px -1px no-repeat;
	}
}