.price {
	height: 250px;
	background-color: #2e2e2e;
}

.price__header {
	.clearfix;
	background-color: #2e2e2e;
	margin: 0 10px  0 -22px;
}

.price__header-red {
	color: #ee2126;
}

.price__header-pdf {

	margin-bottom: -10px;
	padding-top: 14px;
}

.price__header-website {
	margin-bottom: -10px;
	padding-top: 14px;
}

.price__header-title {
	font-size: 12px;
	line-height: 1.41;
	color: white;
	text-transform: uppercase;
	margin-left: 22px;
	margin-bottom: 4px;
}

.price__header-link {
	margin-left: 22px;
	color: #cccccc;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
}

.price__body {
	.clearfix;
	height: 179px;
	position: relative;
	z-index: 20;
	margin: 0 10px 0 -22px;
}

.price__body-col {
	float: left;
	width: 25%;
}

.price__body-col_1 {
	margin-top: 17px;
	background-color: #4b4b4b;
	height: 233px;

	a.green-button__link {
		background-color: #597c52;
	}
}

.price__body-col_2 {
	margin-top: 17px;
	background-color: #5c5c5c;
	height: 233px;

	a.green-button__link {
		background-color: #649c5a;
	}
}

.price__body-col_3 {
	margin-top: 72px;
	background-color: #747474;
	height: 178px;

	a.green-button__link {
		background-color: #66ac59;
	}
}

.price__body-col_4 {
	margin-top: 72px;
	background-color: #8e8e8e;
	height: 178px;

	a.green-button__link {
		background-color: #6aa95e;
	}
}

.price__button-cnt {
	padding-top: 22px;
	padding-left: 22px;

	& + .price__button-cnt  {
		padding-top: 11px;
	}
}

.price__body-header {
	padding-top: 14px;
	padding-left: 22px;
	height: 78px;

	& + .price__button-cnt  {
		padding-top: 0;
	}
}

.price__body-header-title {
	font-size: 12px;
	line-height: 1.41;
	color: white;
	text-transform: uppercase;
	margin-bottom: 4px;
}

.price__body-header-link {
	color: #cccccc;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
}

.price__body-header-link2 {
	margin-left: 3px;
	display: inline-block;
	width: 131px;
	height: 16px;
	padding-top: 1px;
	text-align: center;
	text-decoration: underline;
	color: white;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIMAAAARCAMAAADJ7e8cAAAABlBMVEUAAADuISZYidR7AAAAAXRSTlMAQObYZgAAACZJREFUeNrtzqEBAAAIA6D5/9Mm47IFLiDzJ0dCQkKiUFBQUGiFBdkzCCw4Xfk4AAAAAElFTkSuQmCC);
}